body {
  font-family: system-ui, Segoe UI, Roboto, Arial;
  margin: 24px;
  background: #f7f7f8;
  min-height: 100vh;
  overflow-y: auto;


}

/* Grid for cards */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 200px);
  gap: 24px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 16px 16px 16px;
}

/* Hide scrollbar for Chrome, Edge, Safari */
.grid-container::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.card {
  border: 2px solid #222;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-shadow: 0 6px 18px rgba(20,20,40,0.06);
}

.card-img {
  flex: 1 1 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #222;
  font-size: 1.1em;
  color: #888;
  padding: 16px;
}

.card-name {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  color: #444;
  padding: 16px;
}

h1 {
  font-size: 20px;
  margin: 0 0 12px;
}
.question {
  margin: 14px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #eee;
}
.opts {
  margin-top: 8px;
}
label {
  display: block;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
input[type="radio"] {
  margin-right: 8px;
}
.btn {
  display: inline-block;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.result {
  margin-top: 14px;
  padding: 12px;
  border-radius: 8px;
}
.correct {
  background: #e6ffed;
  border: 1px solid #9ae6b4;
}
.wrong {
  background: #fff0f0;
  border: 1px solid #d21212;
}
.quiz-container {
  max-width: 400px;
  margin: 60px auto;
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(20,20,40,0.06);
}
.quiz-option {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}
.quiz-option:hover {
  background: #1741a6;
}
.navbar-btn {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 500px;
    
}
#dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-label {
  color: #2563eb;
  text-decoration: underline;
  cursor: pointer;
}
